body {
  padding: 0px;
  margin: 0px;
  font: 14px sans-serif;
  text-align: center;
  background: #dfe9f5;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

ul {
  list-style: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #333;
  color: #fff;
  padding: 25px;
}

/*LOGIN OR REGISTER*/

.wrapper {
  width: 300px;
  padding: 2rem 1rem;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

form input {
  width: 90%;
  outline: none;
  border: 1px solid #fff;
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  background: #e4e4e4;
}

.btn-lr {
  font-size: 1rem;
  margin-top: 1.8rem;
  padding: 10px 0;
  border-radius: 20px;
  outline: none;
  border: none;
  width: 90%;
  color: #fff;
  cursor: pointer;
  background: rgb(17, 107, 145);
}

/* header styles */

.header {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  background: #fff;
  font-size: 16px;
}

.header img {
  width: 10%;
  grid-column: 1;
}

.header-content {
  grid-column: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-datetime {
  margin-top: 5px; /* Add some spacing between date and time */
  margin-right: 10px;
}
.current-time {
  text-align: right;
  margin-right: 10px;
}

/* sidebar and main content */
.main {
  display: flex;
}

.sidebar {
  width: 200px;
  height: 600px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.sidebar button {
  width: 50%;
  margin-bottom: 7px;
  background-color: white;
  border-color: #fff;
}

.content {
  flex-grow: 1;
  padding: 20px;
  width: 65%;
}
.content-paragraph {
  display: flex;
  justify-self: center;
  margin: auto;
  margin-top: 80px;
  width: 50%;
  font-size: 18px;
  line-height: 1.5;
}

/*food list*/
.form-foodAdd {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-form {
  font-size: 1rem;
  margin-top: 1.8rem;
  padding: 10px 0;
  border-radius: 20px;
  outline: none;
  border: none;
  width: 10%;
  color: #fff;
  cursor: pointer;
  background: rgb(145, 17, 17);
}

.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
